<!-- src/main/resources/templates/tasks/form.html -->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Task Form</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/nav :: navbar}"></header>


<main class="container">
    <h2 th:text="${pageTitle}">New Task</h2>

    <form th:action="${task.id != null} ? @{/tasks/{id}(id=${task.id})} : @{/tasks}" th:object="${task}" method="post" class="task-form">

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" th:field="*{title}"
                   th:classappend="${#fields.hasErrors('title')} ? 'input-error' : ''"
                   placeholder="Enter task title">
            <span class="error-text" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                Title error
            </span>
        </div>

        <div class="form-group">
            <label for="Category"> Category </label>
            <select th:field="*{category}">
                <option value="">-- Select Category --</option>
                <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>

            <span class="error-text" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category Error</span>
        </div>


        <div class="form-group">
            <label for="description">Description</label>
            <textarea th:field="*{description}" rows="4"></textarea>
        </div>

        <div class="form-group">
            <label for="status"> Status </label>
            <select th:field="*{status}">
                <option value="">-- Select status --</option>
                <option th:each="s : ${status}" th:value="${s}" th:text="${s}"></option>
            </select>
            <span class="error-text" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Status error</span>
        </div>

        <div class="form-group">
            <label for="priority">Priority</label>
            <select th:field="*{priority}">
                <option value="">-- Select priority --</option>
                <option th:each="p : ${priority}" th:value="${p}" th:text="${p}"></option>
            </select>

            <span class="error-text" th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}">Priority error</span>
        </div>

        <button type="submit" class="btn btn-primary">Save Task</button>
        <a th:href="@{/tasks}" class="btn btn-secondary">Cancel</a>

    </form>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>